<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our website</title>
</head>
<body>
    <h1>Hello {{web_user}}</h1>
    <p>this website is hosted in a {{ansible_os_family}} machine ! </p>
</body>
</html>