version: "3.3"

services:
    web:
      image: "{{docker_image_build_data.ubuntu_web.image}}"
      container_name: "{{ docker_image_build_data.ubuntu_web.container_name }}"
      tty: true
      stdin_open: true
      ports:
        - "80:80"
      networks:
        - "{{ docker_compose_network }}"
      depends_on:
        - database

    database:
      image: "{{docker_image_build_data.ubuntu_db.image}}"
      container_name: "{{ docker_image_build_data.ubuntu_db.container_name }}"
      tty: true
      stdin_open: true
      # ports:
      #   - "3306:3306"
      # networks:
      #   - "{{ docker_compose_network }}"
      # volumes:
      #   - "{{ docker_compose_db_vol }}:/var/lib/mysql"

networks:
    "{{ docker_compose_network }}":

volumes:
    "{{ docker_compose_db_vol }}":